{% extends "base.html" %}

{% block content %}

<div class="container mt-5">

    <div class="text-center mb-5">

        <h1>RegexGen Dashboard</h1>

        <p>Project Analytics Overview</p>

    </div>

    <div class="row">

        <div class="col-md-4">

            <div class="card shadow text-center p-4">

                <h3>Total Records</h3>

                <h1>{{ total_records }}</h1>

            </div>

        </div>

        <div class="col-md-4">

            <div class="card shadow text-center p-4">

                <h3>Valid Strings</h3>

                <h1>{{ valid_count }}</h1>

            </div>

        </div>

        <div class="col-md-4">

            <div class="card shadow text-center p-4">

                <h3>Invalid Strings</h3>

                <h1>{{ invalid_count }}</h1>

            </div>

        </div>

    </div>

</div>

{% endblock %}