<!DOCTYPE html>

<html>
<head>
    <title>Regex Generator</title>

```
<link rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}">
```

</head>
<nav>

<a href="/">Home</a> |

<a href="/generator">Generator</a> |

<a href="/validator">Validator</a> |

<a href="/history">History</a> |

<a href="/dashboard">Dashboard</a>

</nav>

<hr>

<body>

<div class="container">

```
<h1>Regex Generator</h1>

<form method="POST">

    <textarea
        name="language"
        rows="6"
        cols="60"
        placeholder="Enter Language Description"
        required></textarea>

    <br><br>

    <button type="submit">
        Generate Regex
    </button>

</form>

{% if regex %}

<div class="result-box">

    <h2>Generated Regex</h2>

    <p>{{ regex }}</p>

</div>

{% endif %}
```

</div>

</body>
</html>
