<!DOCTYPE html>
<html>

<head>

<title>RegexGen</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

</head>
<nav>

<a href="/">Home</a> |

<a href="/generator">Generator</a> |

<a href="/validator">Validator</a> |

<a href="/history">History</a> |

<a href="/dashboard">Dashboard</a>

</nav>

<hr>

<body>

<nav>

<div class="logo">
RegexGen
</div>

</nav>

<section class="hero">

<h1>RegexGen</h1>

<p>
An Intelligent System for Automatic Regular Expression Generation and String Validation
</p>

</section>

</body>

</html>